<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Custom Slider</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

    <div class="container">
        <div class="sidebar left">
            <div class="box">
                <h3>अधिदेश</h3>
                <p>
                    भारत के भूजल संसाधनों के आर्थिक एवं पारिस्थितिकी...
                </p>
            </div>
            <div class="box">
                <h3>भविष्य दृष्टि</h3>
                <p>
                    देश के भूजल संसाधनों का स्थायी विकास और प्रबंधन...
                </p>
            </div>
        </div>

        <div class="slider-container">
            <div class="slider">
                <!-- <div class="slide"><img src="/assets/dwlr_1.jpg" alt="Image 1"></div> -->
                <!-- <div class="slide"><img src="/assets/dwlr_2.webp" alt="Image 2"></div> -->
                <!-- <div class="slide"><img src="/assets/dwlr_3.jpg" alt="Image 3"></div> -->
                <div class="slide"><img src="/assets/dwlr_4.jpg" alt="Image 4"></div>
                <div class="slide"><img src="/assets/dwlr_5.jpg" alt="Image 5"></div>
                <div class="slide"><img src="/assets/dwlr_6.jpg" alt="Image 6"></div>
                <div class="slide"><img src="/assets/dwlr_7.jpg" alt="Image 7"></div>
            </div>
            <button class="prev" onclick="prevSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
        </div>

        <div class="sidebar right">
            <h3>नया क्या है</h3>
            <ul>
                <li>भारत में स्टेबल आइसोटोप डेटा व्याख्या...</li>
                <li>भूजल स्रोतों की स्थिति के लिए मानक संचालन...</li>
                <li>भूजल संसाधन आकलन 2022...</li>
                <li>भूजल संवाद, जनवरी - जून, 2023...</li>
            </ul>
            <button>View All</button>
        </div>
    </div>

    <script src="homescript.js"></script>
</body>
</html>
